// ==========================================================================
// SCAFFOLDING
// ==========================================================================

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
	background-color: $body-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//
// LINKS
// ==========================================================================

a {
	color: $link-color;
	text-decoration: $link-decoration;
	cursor: pointer;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:focus {
		text-decoration: none;
		outline: none;
	}
}

//
// TRANSITIONS
// ==========================================================================

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

//
// SPINNERS
// ==========================================================================

.loading-indicator {
	margin-bottom: 20px;
	padding: 60px;

	.la-ball-beat {
		margin: 0 auto;
	}
}
