// ==========================================================================
// TYPOGRAPHY
// ==========================================================================



//
// HEADINGS
// ==========================================================================

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-base;
}

h1 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: rgba(#fff, .60);
  font-size: 42px;
  line-height: 1.9047; // 80px
  font-weight: 500;
    strong {
      margin-left: 20px;
      margin-right: 20px;
      color: #fff;
    }
}

h2 {
  border-bottom: 4px solid $brand-ruby;
  color: $brand-blue;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.9047; // 80px
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  font-weight: $font-weight-bold;
  margin-bottom: 16px;
}



//
// THICKNESS
// ==========================================================================


.font-light {
	font-weight: $font-weight-light;
}

.font-normal {
	font-weight: $font-weight-base;
}

strong {
	font-weight: $font-weight-bold;
}

.font-black {
	font-weight: $font-weight-black;
}



//
// PARAGRAPH
// ==========================================================================

p {
	margin: 0 0 20px;
  font-size: $font-size-paragraph;
	line-height: $line-height-paragraph;
		&:last-child {
			margin-bottom: 0;
		}
}



//
// MEDIA QUERY
// ==========================================================================

@media (min-width: 0px) and (max-width: 600px) {
  h2 {
    font-size: 24px;
  }
}
