.supply-demand-page
	.section.hero
		navigation

		.header-text-container
			h1
				strong Six months
				| after token lockup begins I conservatively predict the value of
				strong $MCO
				| to be
				strong {{formatPriceSmall(recentData.tokens.monthlyPrices.addedCirculation.month6.price)}}
				| based solely on token lockup.
	
	.section.grid.explaination
		.inner-content
			h2 How I got to {{formatPriceSmall(recentData.tokens.monthlyPrices.addedCirculation.month6.price)}}
			
			p.statement.advice 
				span.ruby DISCLAIMER:
				| ** This is not financial advice. I am a Software Engineer, not a financial advisor. The goal here is to show you how I came to my own prediction. Please... please do your own research. Use everything here as a starting point if you want, but take it as it is -- my prediction. **
			
			table.grid-table
				thead
					tr
						th
						th Pre-Lockup
						th After Month 1
						th After Month 2
						th After Month 3
						th After Month 4
						th After Month 5
						th After Month 6
				tbody
					template(v-for='card in gridData.cards')
						tr.important
							td(colspan='8') {{card.name}}
						tr
							td MCO Requirement
							td(v-for='val in card.mcoRequired') {{val}}
						tr
							td USD Requirement
							td(v-for='val in card.usdRequired') {{val}}
						tr
							td New Cards
							td(v-for='val in card.newCards') {{val}}
						tr
							td Total Cards
							td(v-for='val in card.totalCards') {{val}}
					tr.empty: td(colspan='8')
					tr.important
						td(colspan='8').important Tokens
					tr
						td Total
						td(v-for='val in gridData.tokens.total') {{val}}
					tr
						td Circulation
						td(v-for='val in gridData.tokens.circulation') {{val}}
					tr
						td New Locked Up
						td(v-for='val in gridData.tokens.newLockedUp') {{val}}
					tr
						td Total Locked Up
						td(v-for='val in gridData.tokens.totalLockedUp') {{val}}
					tr
						td Available
						td(v-for='val in gridData.tokens.available') {{val}}
					tr.empty: td(colspan='8')
					tr.important
						td(colspan='8') Cards
					tr
						td New Cards
						td(v-for='val in gridData.reservations.new') {{val}}
					tr
						td Total Cards
						td(v-for='val in gridData.reservations.total') {{val}}
					tr.empty: td(colspan='8')
					tr.important
						td(colspan='8') Value
					tr
						td Market Cap
						td(v-for='val in gridData.values.marketcap') {{val}}
					tr.price
						td MCO Value
						td(v-for='val in gridData.values.price') {{val}}
			
			p.statement.final
				| I tried to make this extremely conservative so it includes no FOMO, no new features, none of the crazy crypto buzz when something starts to spike... etc...
				em  And remember, this is just my prediction, feel free to make your own judgements :)
