.supply-demand-page
	.section.hero
		navigation

		.header-text-container
			h1
				strong Six months
				| after token lockup begins I predict the value of
				strong $MCO
				| to be
				strong {{formatPriceSmall(recentData.tokens.monthlyPrices.addedCirculation.month6.price)}}
				| based solely on token lockup.

	.section.explaination
		.inner-content
			h2 How we got it
			
			p.statement First, we find the total amount of reservations in the last 30 days by tracking it daily
			p.answer {{formatNumeral(recentData.reservations.thirtyDays.total)}}
			
			p.statement By comparing the last 30 days with the 30 days prior we can find the monthly growth rate
			p.answer {{formatPercent(recentData.reservations.growth.rate)}}
			
			p.statement We’ll stay conservative and assume we maintain this same rate for the first 6 months but lets be honest… the growth rate will speed up when they start marketing. Nevertheless, we use that to find the estimated reservations in each of the next 6 months
			p.answer
				ul
					li
						| Last 30: 
						strong {{formatNumeral(recentData.reservations.growth.pre)}}
					li
						| Month 1: 
						strong {{formatNumeral(recentData.reservations.growth.month1)}}
					li
						| Month 2: 
						strong {{formatNumeral(recentData.reservations.growth.month2)}}
					li
						| Month 3: 
						strong {{formatNumeral(recentData.reservations.growth.month3)}}
					li
						| Month 4: 
						strong {{formatNumeral(recentData.reservations.growth.month4)}}
					li
						| Month 5: 
						strong {{formatNumeral(recentData.reservations.growth.month5)}}
					li
						| Month 6: 
						strong {{formatNumeral(recentData.reservations.growth.month6)}}

			p.statement That’s crazy. In the spirit of being extremely conservative still, let’s assume that growth gets slowed down by card manufacturing limitations, launching in various global regions at different times, etc. We’re going to only use strong 65% of our current growth rate
			p.answer
				ul
					li
						| Last 30: 
						strong {{formatNumeral(recentData.reservations.growth.conservative.pre)}}
					li
						| Month 1: 
						strong {{formatNumeral(recentData.reservations.growth.conservative.month1)}}
					li
						| Month 2: 
						strong {{formatNumeral(recentData.reservations.growth.conservative.month2)}}
					li
						| Month 3: 
						strong {{formatNumeral(recentData.reservations.growth.conservative.month3)}}
					li
						| Month 4: 
						strong {{formatNumeral(recentData.reservations.growth.conservative.month4)}}
					li
						| Month 5: 
						strong {{formatNumeral(recentData.reservations.growth.conservative.month5)}}
					li
						| Month 6: 
						strong {{formatNumeral(recentData.reservations.growth.conservative.month6)}}
			
			p.statement
				| We then have to find out how many token lockups that is. We head over to 
				a(href='https://etherscan.io/token/Monaco#balances' target='_blank') EtherScan
				|  and figure out how many people 
				em can
				|  afford each of the various card levels (0, 50, 500, and 50,000 tokens)… this was annoying
			p.answer
				ul
					li
						| Midnight Blue (0 MCO): 
						strong {{formatPercent(recentData.cards.breakdown.blue.percent)}}
					li
						| Ruby Steel (50 MCO): 
						strong {{formatPercent(recentData.cards.breakdown.ruby.percent)}}
					li
						| Rose Gold / Space Gray (500 MCO): 
						strong {{formatPercent(recentData.cards.breakdown.silver.percent)}}
					li
						| Obsidian Black (50,000 MCO): 
						strong {{formatPercent(recentData.cards.breakdown.black.percent)}}
			
			p.statement
				| Those numbers match up perfectly with the reservation count infographic Monaco provided last year when we were around 30k reservations. Awesome, so now we can use those numbers (and our current total reservation count of {{recentData.reservations.total}}) to determine an estimated number of people who have reserved cards at each level
			p.answer
				ul
					li
						| Midnight Blue (0 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.blue.count)}}
					li
						| Ruby Steel (50 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.ruby.count)}}
					li
						| Rose Gold / Space Gray (500 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.silver.count)}}
					li
						| Obsidian Black (50,000 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.black.count)}}
			
			p.statement For the purpose of this exercise, we’re going to exclude Obsidian Black from here on out. We don’t want to skew our results with those crazy MCO reservation numbers, and honestly, we don’t know how many of those are even left to reserve.
			
			p.statement
				| Still, let’s be even more conservative. Let’s assume that 
				strong 50%
				|  of the people who have over 500 tokens still only go with the Ruby card. That gives us
			p.answer
				ul
					li
						| Midnight Blue (0 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.blue.conservative.count)}}
					li
						| Ruby Steel (50 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.ruby.conservative.count)}}
					li
						| Rose Gold / Space Gray (500 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.silver.conservative.count)}}
			
			p.statement We now have an estimated current token lockup of
			p.answer
				ul
					li
						| Ruby Steel (50 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.ruby.conservative.tokens)}}
					li
						| Rose Gold / Space Gray (500 MCO): 
						strong {{formatNumeral(recentData.cards.breakdown.silver.conservative.tokens)}}
			
			p.statement Great, so we now have a total estimated MCO lockup of
			p.answer
				strong {{formatNumeral(recentData.cards.lockup.basic.pre)}}
			
			p.statement And we haven’t even started marketing!
			
			p.statement Anyways, so now we can apply the same logic for the next 6 months and add them up to find our total tokens locked up after each month
			p.answer
				ul
					li
						| Pre-Lockup: 
						strong {{formatNumeral(recentData.cards.lockup.basic.pre)}}
					li
						| After Month 1: 
						strong {{formatNumeral(recentData.cards.lockup.basic.month1)}}
					li
						| After Month 2: 
						strong {{formatNumeral(recentData.cards.lockup.basic.month2)}}
					li
						| After Month 3: 
						strong {{formatNumeral(recentData.cards.lockup.basic.month3)}}
					li
						| After Month 4: 
						strong {{formatNumeral(recentData.cards.lockup.basic.month4)}}
					li
						| After Month 5: 
						strong {{formatNumeral(recentData.cards.lockup.basic.month5)}}
					li
						| After Month 6: 
						strong {{formatNumeral(recentData.cards.lockup.basic.month6)}}
			
			p.statement I know… I know, that’s crazy, there are only 13,000,000 MCO in circulation! We’re going to fix up a few things but I wanted to show you those numbers first :)
			
			p.statement We’re going to be conservative and assume three things that will reduce those lockup numbers:
			p.answer
				ul.list
					li Over time users won’t be able to afford the premium cards and will eventually favor the Free & 50 MCO cards
					li After 2 months of learning how registrations by card type are growing Monaco will decide to use Dynamic Pricing (reducing the amount of tokens required) on all cards, so the number of cards per token will be reduced monthly
					li Monaco will release MCO from their pool each month for various campaigns, payments, etc. I’m estimating 2.5%/mo for this (~400k/mo)
			
			p.statement So lets implement those!
			
			p.statement First we’ll have users favor the Blue (Free) & Ruby (50 MCO) cards by moving people’s preferences from the higher priced cards to the lower priced cards over time
			p.answer
				ul
					li
						| Pre-Lockup: 
						strong {{formatNumeral(recentData.cards.lockup.conservative.pre)}}
					li
						| After Month 1: 
						strong {{formatNumeral(recentData.cards.lockup.conservative.month1)}}
					li
						| After Month 2: 
						strong {{formatNumeral(recentData.cards.lockup.conservative.month2)}}
					li
						| After Month 3: 
						strong {{formatNumeral(recentData.cards.lockup.conservative.month3)}}
					li
						| After Month 4: 
						strong {{formatNumeral(recentData.cards.lockup.conservative.month4)}}
					li
						| After Month 5: 
						strong {{formatNumeral(recentData.cards.lockup.conservative.month5)}}
					li
						| After Month 6: 
						strong {{formatNumeral(recentData.cards.lockup.conservative.month6)}}

			p.statement Now we need to account for Dynamic Pricing on all of the cards so they don’t get crazy expensive by assuming that after 2 months of data collection and learning they keep the USD price per card about the same each month (this came out to about a 40% monthly reduction in tokens per card)
			p.answer
				ul
					li
						| Pre-Lockup: 
						strong {{formatNumeral(recentData.cards.lockup.dynamic.pre)}}
					li
						| After Month 1: 
						strong {{formatNumeral(recentData.cards.lockup.dynamic.month1)}}
					li
						| After Month 2: 
						strong {{formatNumeral(recentData.cards.lockup.dynamic.month2)}}
					li
						| After Month 3: 
						strong {{formatNumeral(recentData.cards.lockup.dynamic.month3)}}
					li
						| After Month 4: 
						strong {{formatNumeral(recentData.cards.lockup.dynamic.month4)}}
					li
						| After Month 5: 
						strong {{formatNumeral(recentData.cards.lockup.dynamic.month5)}}
					li
						| After Month 6: 
						strong {{formatNumeral(recentData.cards.lockup.dynamic.month6)}}
			
			p.statement And there we have it! Estimated token lockup after month 6
			p.answer {{formatNumeral(recentData.cards.lockup.dynamic.month6)}}
			
			p.statement Boom.
			
			p.statement Ok, now we need to get to price. The fun part!
			
			p.statement The total tokens in circulation is
			p.answer {{formatNumeral(recentData.tokens.circulation)}}
			
			p.statement The tokens available (using our lockup amounts above)
			p.answer
				ul
					li
						| Pre-Lockup: 
						strong {{formatNumeral(recentData.tokens.circulation)}}
					li
						| End of Month 1: 
						strong {{formatNumeral(recentData.tokens.circulation - recentData.cards.lockup.dynamic.month1)}}
					li
						| End of Month 2: 
						strong {{formatNumeral(recentData.tokens.circulation - recentData.cards.lockup.dynamic.month2)}}
					li
						| End of Month 3: 
						strong {{formatNumeral(recentData.tokens.circulation - recentData.cards.lockup.dynamic.month3)}}
					li
						| End of Month 4: 
						strong {{formatNumeral(recentData.tokens.circulation - recentData.cards.lockup.dynamic.month4)}}
					li
						| End of Month 5: 
						strong {{formatNumeral(recentData.tokens.circulation - recentData.cards.lockup.dynamic.month5)}}
					li
						| End of Month 6: 
						strong {{formatNumeral(recentData.tokens.circulation - recentData.cards.lockup.dynamic.month6)}}
			
			p.statement Each month the price of the token will go up because we’ll have a higher demand and a lower number of tokens available for lockup.

			p.statement Right now it looks like this:
			p.answer
				ul
					li
						| Current Price: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.pre.price)}}
					li
						| Current Market Cap: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.pre.marketcap)}}

			p.statement Based on those numbers at the end of month 1 the price of a token with our new limited availability of tokens would be
			p.answer {{formatPrice(recentData.tokens.monthlyPrices.static.month1.price)}}

			p.statement which puts our new market cap after month 1 at
			p.answer {{formatPrice(recentData.tokens.monthlyPrices.static.month1.marketcap)}}
			
			p.statement and when we do out the rest of our 6 months we get
			p.answer
				ul
					li
						| Pre-Lockup: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.pre.marketcap)}}
					li
						| End of Month 1: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month1.marketcap)}}
					li
						| End of Month 2: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month2.marketcap)}}
					li
						| End of Month 3: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month3.marketcap)}}
					li
						| End of Month 4: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month4.marketcap)}}
					li
						| End of Month 5: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month5.marketcap)}}
					li
						| End of Month 6: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month6.marketcap)}}
			
			p.statement and prices of
			p.answer
				ul
					li
						| Pre-Lockup: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.pre.price)}}
					li
						| End of Month 1: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month1.price)}}
					li
						| End of Month 2: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month2.price)}}
					li
						| End of Month 3: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month3.price)}}
					li
						| End of Month 4: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month4.price)}}
					li
						| End of Month 5: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month5.price)}}
					li
						| End of Month 6: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.static.month6.price)}}

			p.statement One thing we haven’t taken into consideration yet (the last thing!) is that more tokens may be released into circulation each month.
			
			p.statement Because we love being conservative, let’s assume that number (based on recent months) is around 2.5% (~400k) every month so our final prices look like
			p.answer
				ul
					li
						| Pre-Lockup: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.addedCirculation.pre.price)}}
					li
						| End of Month 1: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.addedCirculation.month1.price)}}
					li
						| End of Month 2: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.addedCirculation.month2.price)}}
					li
						| End of Month 3: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.addedCirculation.month3.price)}}
					li
						| End of Month 4: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.addedCirculation.month4.price)}}
					li
						| End of Month 5: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.addedCirculation.month5.price)}}
					li
						| End of Month 6: 
						strong {{formatPrice(recentData.tokens.monthlyPrices.addedCirculation.month6.price)}}
			
			p.statement
				| Giving us the final predicted price at the end of 6 months of
				em ....drumroll....
						
			p.answer.final {{formatPrice(recentData.tokens.monthlyPrices.addedCirculation.month6.price)}}
			
			p.statement
				| We tried to make this extremely conservative so it includes no FOMO, no new features, none of the crazy crypto buzz when something starts to spike... etc...
				em  And remember, this is just my prediction, feel free to make your own judgements :)
