.registrations-page
	.section.hero
		navigation
		
		h1
			| As of
			strong {{recentData.reservations.last.date}}
			| we've averaged
			strong {{recentData.reservations.thirtyDays.average}}
			| reservations per day in the last thirty days! That's
			strong {{recentData.reservations.total}}
			| total. Crazy.
