.registrations-page
	.section.hero
		navigation

		.header-text-container.bold
			.loading-indicator(v-if='!loaded')
				div.spinner-white
					div
					div
					div

			transition(name='fade')
				.slow-loader(v-if='loaded')
					h2 #[strong Total Card Reservations]
					h1 #[strong {{formatNumeral(reservations.total)}}]
					h3 Updated {{updatedAt}}

	.section.chart
		.inner-content
			h2 Registrations Per Day

			.loading-indicator(v-if='!loaded')
				div.spinner-ruby
					div
					div
					div

			transition(name='fade')
				.slow-loader(v-if='loaded')

					.chart-container
						canvas#chart(width="800" height="600")
