.registrations-page
	.section.hero
		navigation
		
		.header-text-container
			h1
				| As of
				strong {{lastDay.date}}
				| we've averaged
				strong {{formatNumeral(lastThirtyDaysAverage)}}
				| reservations per day in the last thirty days! That's
				strong {{formatNumeral(totalReservations)}}
				| total. Crazy.
	
	.section.chart
		.inner-content
			h2 Registrations Per Day
			.chart-container
				canvas#chart(width="800" height="600")
